body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    background-color: #EEEEEE;
}

#all {
    width: 100%;
    margin: 15px auto;
    padding: 0;
    text-align: left;
    background-color: #EEEEEE;
}

.logo p {
  padding: 5px 25px;
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  background-color: #FFFFFF;
  color: #0000FF;
  border-radius: 20px;
}

.nav-item {
  font-size:20px;
  font-weight: 900;
  color: #FFF !important;
}

.header_down p {
  margin: 100px;
}

.tags {
  font-size: 20px;
  margin: 0px;
  padding: 40px 20px 5px 20px;
  text-align: center;
  width: 100%;
  background-color: #f0f8ff;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: flex-start;
   list-style: none;
}
.tags ul {
  list-style: none;
}

.tags input {
  margin-left: 30px;
  border-radius: 20px;
}

.box {
padding:30px ;
margin:10px 5px;
background-color: #FFFFFF;
border-radius: 20px;
}

.box p {
  font-size: 20px;
}

/* new_articleにある */
.new_body {
  background-color: #f0f8ff;
  padding: 40px 0px 5px 0px;
}

.new_article {
  padding-left: 50px;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

.login {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}
