body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    background-color: #EEEEEE;
}

#all {
    width: 100%;
    margin: 15px auto;
    padding: 0;
    text-align: left;
    background-color: #EEEEEE;
}

.logo p {
  padding: 5px 25px;
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  background-color: #FFFFFF;
  color: #0000FF;
  border-radius: 20px;
}

.nav-item {
  font-size:20px;
  font-weight: 900;
  color: #FFF !important;
}

.header_down p {
  margin: 100px;
}

.tags {
  font-size: 20px;
  margin: 0px;
  padding: 40px 20px 5px 20px;
  text-align: center;
  width: 100%;
  background-color: #f0f8ff;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: flex-start;
   list-style: none;
}
.tags ul {
  list-style: none;
}

.tags input {
  margin-left: 30px;
  border-radius: 20px;
}

.box {
padding:30px ;
margin:10px 5px;
background-color: #FFFFFF;
border-radius: 20px;
}

.box p {
  font-size: 20px;
}

/* new_articleにある */
.new_body {
  background-color: #f0f8ff;
  padding: 40px 0px 5px 0px;
}

.new_article {
  padding-left: 50px;
}
